<html>
    <head>
        <title>My First Blog</title>
    </head>
    <body>
        <h1>Mi primer gran titulo</h1>
        <h2>Mi segundo no tan gran titulo</h2>
        <h3>El tercer titulo</h3>
        <em>Para notar como queda en cursiva</em>
        <strong>TExto en negrillas, despues de esto va br, para ver que hace</strong>
        <br>
        <a href="https://djangogirls.org">link</a>
        <ul><li>primer elemento</li><li>segundo elemento</li></ul>
        <div></div>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>

    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
